<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="header" class="container-fluid px-0">
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Menus</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Orders</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cliente">Customers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/plato">Dishes</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>