<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Platos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <h3 class="section-title">Create Dishes</h3>
    <form th:action="@{/createDishForm}" th:object="${plato}" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{nombre_p}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{descripcion}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kcal</label>
            <div class="col-sm-6">
                <input type="number" th:field="*{kcal}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Units</label>
            <div class="col">
                <input type="number" th:field="*{unidades}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col">
                <input type="text" th:field="*{tipo}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </form>

</div>

<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>